.dishName {
    color: brown;
    font-size: 14px;
    padding-left: 10px;
}

.dishPrice {
    color: crimson;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.dishBlockLast {
    grid-column: span 2;
    font-size: 10px;
    padding: 0 10px;
}

.dishBlockLast span {
    padding-left: 5px;
}