ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.menu-el-block {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #e7f2f9;
}

.menu-el-name {
    color:brown;
    font-size: 14px;
    padding-left: 10px;
}

.menu-el-price {
    color: crimson;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.menu-el-block-last {
    grid-column: span 2;
    font-size: 10px;
    padding: 0 10px;
}
.menu-el-block-last span {
    padding-left: 5px;
}