ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.tabsHeader {
    display: flex;
    gap: 15px;
    border-bottom: 3px solid #5733ab;
    margin-bottom: 10px;
}

.tabButton {
    background-color: #c5b4ed;
    padding: 1rem;
    cursor: pointer;
}

.active {
    background-color: #5733ab;
    color: #fff;
    cursor: default;
}